{% extends "excercise/header.html" %}
{% load static %}
{% block style %}
<link href="{% static 'exercise/style_edit_routine.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                {% if message %}
                <div>{{ message }}</div>
                {% endif %}
                <div class="header">
                    <h2 class="general_title">Review your routine</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <form id="edit-routine-form" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Edit the title</label>
                    <input type="text" class="form-control" id="routine_title" name="routine_title"
                        value="{{aux_routine_days.routine.name}}">
                </div>
                <div class="form-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="sun_chb" name="sun_chb">
                        <label class="form-check-label" for="sun-chb">Sunday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="sun_s_t" name="sun_s_t"
                            placeholder="start time">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="mon_chb" name="mon_chb">
                        <label class="form-check-label" for="defaultCheck1">Monday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="mon_s_t" name="mon_s_t"
                            placeholder="start time">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="tue_chb" name="tue_chb">
                        <label class="form-check-label" for="defaultCheck1">Tuesday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="tue_s_t" name="tue_s_t"
                            placeholder="start time">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="wed_chb" name="wed_chb">
                        <label class="form-check-label" for="defaultCheck1">Wednesday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="wed_s_t" name="wed_s_t"
                            placeholder="start time">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="thu_chb" name="thu_chb">
                        <label class="form-check-label" for="defaultCheck1">Thursday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="thu_s_t" name="thu_s_t"
                            placeholder="start time">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="fri_chb" name="fri_chb">
                        <label class="form-check-label" for="defaultCheck1">Friday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="fri_s_t" name="fri_s_t"
                            placeholder="start time">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="true" id="sat_chb" name="sat_chb">
                        <label class="form-check-label" for="defaultCheck1">Saturday</label>
                        <input type="time" min="09:00" max="17:00" class="form-control" id="sat_s_t" name="sat_s_t"
                            placeholder="start time">
                    </div>
                    <input style="visibility: hidden;" type="number" id="routine_id" name="routine_id" value = {{aux_routine_days.routine.id}}>
                </div>
                <div class="form-row">
                    <button id="btn_edit" name="btn_edit" type="submit" class="btn btn-outline-success">Edit</button>
                    <button type="submit" class="btn btn-outline-danger">Cancel</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <h2 class="general_tite">Your current schedule:</h2>
            <div id="firstContainer" class="container">
                {% for aux_iter in aux_exercises %}
                <div class="row">
                    <div class="col-sm exercise_image_container"
                        style="background: url(https://img.youtube.com/vi/{{aux_iter.Exercise.id_link_video}}/hqdefault.jpg) no-repeat center; background-size: cover;">
                        <div class="part-1">
                            <a href="{% url 'exercise' aux_iter.Exercise.id %}"></a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <a class="product-title"
                            href="{% url 'exercise' aux_iter.Exercise.id %}">{{aux_iter.Exercise.name}}</a>
                    </div>
                    <div class="col-sm">
                        <div class="inputDiv">
                            # Repetitions:
                            <div class="etiqueta_{{aux_iter.Exercise.id}}_{{aux_iter.RoutineExcercise.position}}">
                                {{aux_iter.RoutineExcercise.repetitions}}</div>
                            <input type="range" value="{{aux_iter.RoutineExcercise.repetitions}}" min="1" max="10"
                                autocomplete="off"
                                id="input_{{aux_iter.Exercise.id}}_{{aux_iter.RoutineExcercise.position}}"
                                oninput="update_etiquette('{{aux_iter.Exercise.id}}', '{{aux_iter.RoutineExcercise.position}}', '{{aux_routine_days.routine.id}}', '{{aux_iter.RoutineExcercise.id}}')">
                        </div>
                    </div>
                    <div class="col-sm">
                        <select class="form-control" id="slc_position_{{aux_iter.Exercise.id}}_{{aux_iter.RoutineExcercise.position}}" name="slc_position" 
                        oninput="api_rest_update_possition('{{aux_iter.Exercise.id}}', '{{aux_iter.RoutineExcercise.position}}', '{{aux_routine_days.routine.id}}' , '{{aux_iter.RoutineExcercise.id}}')">
                            {% for aux_iter2 in aux_exercises %}
                            {% if aux_iter2 == aux_iter %}
                            <option selected>{{aux_iter2.RoutineExcercise.position}}</option>
                            {% else %}
                            <option>{{aux_iter2.RoutineExcercise.position}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm">
                        <i class="fa fa-trash" aria-hidden="true" 
                        onclick="api_rest_delete_possition('{{aux_iter.RoutineExcercise.id}}', '{{aux_routine_days.routine.id}}')"></i>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="test_container" class="container">

            </div>
        </div>
</section>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("Flag LMAO!");
        var dayList = JSON.parse('{{aux_days_js|escapejs}}');

        for (let i = 0, aux; i < dayList.data.length; i++) {
            aux = dayList.data[i];
            switch (aux.day) {
                case 1:
                    document.getElementById('mon_chb').checked = true;
                    document.getElementById("mon_s_t").value = aux.hour;
                    break;
                case 2:
                    document.getElementById('tue_chb').checked = true;
                    document.getElementById("tue_s_t").value = aux.hour;
                    break;
                case 3:
                    document.getElementById('wed_chb').checked = true;
                    document.getElementById("wed_s_t").value = aux.hour;
                    break;
                case 4:
                    document.getElementById('thu_chb').checked = true;
                    document.getElementById("thu_s_t").value = aux.hour;
                    break;
                case 5:
                    document.getElementById('fri_chb').checked = true;
                    document.getElementById("fri_s_t").value = aux.hour;
                    break;
                case 6:
                    document.getElementById('sat_chb').checked = true;
                    document.getElementById("sat_s_t").value = aux.hour;
                    break;
                case 7:
                    document.getElementById('sun_chb').checked = true;
                    document.getElementById("sun_s_t").value = aux.hour;
                    break;
            }
        }
    }, false);
</script>
<script src="{% static 'exercise/edit_routine.js' %}"></script>
{% endblock %}