{% extends "excercise/header.html" %}
{% load static %}

{% block style %}
<link href="{% static 'exercise/style_exercise_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h2>Workout Details</h2>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="container">
            <div class="row title-stats justify-content-center text-center">
                <h2 class="heading -x-small caps-half demi">{{exercise.name}}</h2>
            </div>
            <div class="row stats">
                <ul class="details-list">
                    <li>
                        <span class="detail-header">Duration:</span>
                        <span class="detail-value demi">{{exercise.duration}} Minutes</span>
                    </li>
                    <li>
                        <span class="detail-header">Category:</span>
                        <span class="detail-value demi">{{exercise.category}}</span>
                    </li>
                    <li>
                        <span class="detail-header">Difficulty:</span>
                        <span class="detail-value demi">{{exercise.dificulty}}</span>
                    </li>
                    <li>
                        <span class="detail-header">Equipment:</span>
                        <span id="span_equipment" class="detail-value demi">{{exercise.equipment}}</span>
                    </li>
                    <li>
                        <span class="detail-header">Description:</span>
                        <span class="detail-value demi">{{exercise.description}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row video-responsive">
        <iframe src="https://www.youtube.com/embed/{{exercise.id_link_video}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row">
        <form action="{% url 'exercise' exercise.id %}" method="POST" class="form-inline" id="form-add-exe-rout" name="form-add-exe-rout">
            {% csrf_token %}
            {% if user.is_admin %}
                <div class="form-group mb-2">
                    {% if exercise.approved is False %}
                        <button id="btn_approve" name="btn_approve" type="submit" class="btn btn-success">Approve</button>
                    {% endif %}
                    <button id="btn_delete" name="btn_delete" type="submit" class="btn btn-danger">Delete</button>
                </div>
            {% endif %}
        </form>
        <form action="{% url 'edit_routine' %}" method="POST" class="form-inline" id="form-add-exe-rout" name="form-add-exe-rout">
            {% csrf_token %}
            {% if user.is_admin %}
                <div class="form-group mb-2">
                    <button id="btn_edit" name="btn_edit" class="btn btn-info">Edit</button>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <label for="slc_routine" class="mx-sm-2 mb-2">Select a routine: </label>
                <div class="form-group mx-sm-3 mb-2">
                    <select class="form-control" id="slc_routine" name="slc_routine">
                        {% for routine in routines %}
                            <option>{{routine.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="btn_add" name="btn_add" type="submit" class="btn btn-success mb-2">Add to routine</button>
                <input id="id_exercise" name="id_exercise" type="text" value="{{exercise.id}}" style="visibility:hidden">
            {% endif %}
        </form>
    </div>
    <div id="edit_form" class="row justify-content-center edit_form">
        <form action="{% url 'exercise' exercise.id %}" method="POST">
            {% csrf_token %}
            {{ editExerciseForm }}
            <input id="btn_submit" name="btn_submit" class="btn btn-primary" type="submit" value="Submit">
            <input id="btn_cancel" class="btn btn-danger" value="Cancel">
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'exercise/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'exercise/exercise_detail.js' %}"></script>
{% endblock %}