{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type='text/css'>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'exercise/style_head.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block style %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li class="li-logo">
                    <img src="{% static 'images/logoDarkBG.png' %}" alt="Logo" class="logo">
                </li>
                <li class="btn"><span class="fa fa-bars"></span></li>
                <div class="items">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'explore' %}">Explore</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_admin == false %}
                            <li><a href="{% url 'request' %}">Request an exercise</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <h6 class="welcome-message">Welcome {{ user.username }}!</h6>
                    {% endif %}
                </div>
                <li class="search-icon">
                    <form id="form-search-byname" name="form-search-byname" class="form-element" action="{% url 'explore' %}" method="POST">
                        {% csrf_token %}
                        <input id="search_input" name="search_input" type="search" placeholder="Search">
                        <button class="icon" type="submit">
                            <sapn class="fas fa-search"></sapn>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        <script>
            $('nav ul li.btn span').click(function(){
                $('nav ul div.items').toggleClass("show");
                $('nav ul li.btn span').toggleClass("show");
            });
        </script>
    </body>
</html>