{% extends "excercise/header.html" %}
{% load static %}

{% block style %}
{% endblock %}

{% block body %}
<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                {% if message %}
                <div>{{ message }}</div>
                {% endif %}
                <div class="header">
                    <h2>Request</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="{% url 'request' %}" method="POST">
                {% csrf_token %}
                {{ requestExerciseForm }}
                <input class="btn btn-primary" class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>
{% endblock %}